:root {
  font-size: 14px;

  --primary-color-main: #3a3657;
  --primary-color-dark: #1e1740;
  --primary-color-light: #d8d5d8;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--primary-color-light);
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color-dark);
  border-radius: 20px;
  border: 0.1px solid transparent;
  background-clip: content-box;
}

body {
  background: #fcfcfc !important;
}
